<div *ngIf="acs.account.length === 0" class="flex flex-col justify-center items-center">
    <h1 class="text-2xl font-extrabold select-none">No Accounts</h1>
    <p class="select-none">There are no accounts. Let's add a account to press "Add account"!</p>
</div>
<ng-container *ngFor="let account of acs.account">
    <app-account-card [account]="account" [accountProfile]="acs.accountProfile.get(account.id)" (deleteButtonClicked)="deleteConfirm($event)"></app-account-card>
</ng-container>


<input type="checkbox" class="modal-toggle" [(ngModel)]="deleteConfirmModal" />
<div class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Are you sure delete?</h3>
        <p class="py-4">Are you sure delete <ng-container *ngIf="deleteTarget && acs.accountProfile.get(deleteTarget.id)">@{{ acs.accountProfile.get(deleteTarget.id)?.username }}@</ng-container>{{ deleteTarget?.address }}?</p>
        <div class="modal-action">
            <button class="btn" (click)="deleteConfirmModal = false">Cancel</button>
            <button class="btn btn-error" (click)="deleteAccount()">Delete</button>
        </div>
    </div>
</div>
