<div class="alert shadow-lg" *ngIf="user === undefined && !error">
    <div>
        <ng-icon name="mat-hourglass-bottom" class="text-lg"></ng-icon>
        <span>Loading profile, please wait ...</span>
    </div>
</div>

<div class="alert alert-error shadow-lg" *ngIf="error">
    <div>
        <ng-icon name="mat-error" class="text-lg"></ng-icon>
        <span>Can't fetch profile.</span>
    </div>
</div>

<ng-container *ngIf="user && !error">
    <div class="hero min-h-12" style="background-size: cover;" [ngStyle]="{ 'background-image': user.banner_url ? 'url(' + user.banner_url + ')' : '' }">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-lg">
                <div class="avatar">
                    <div class="w-20 rounded-full">
                        <img [src]="user.avatar_url" alt="@{{ user.acct }}" />
                    </div>
                </div>
                <h1 class="mb-2 text-3xl font-bold">{{ user.display_name }}</h1>
                <div class="mb-5">
                    <span class="font-mono">@{{ user.acct }}</span>
                    <span class="ml-2" *ngIf="user.bot">
                    <ng-icon name="mat-smart-toy" class="text-xl"></ng-icon>
                </span>
                </div>
                <div class="whitespace-pre-wrap">
                    {{ user.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-center items-center my-2">
        <div class="stats stats-horizontal shadow">
            <div class="stat">
                <div class="stat-title">Posts</div>
                <div class="stat-value">{{ user.post_count | number }}</div>
            </div>

            <div class="stat">
                <div class="stat-title">Following</div>
                <div class="stat-value">{{ user.following_count | number }}</div>
            </div>

            <div class="stat">
                <div class="stat-title">Followers</div>
                <div class="stat-value">{{ user.follower_count | number }}</div>
            </div>
        </div>
    </div>
</ng-container>
