<div [attr.data-theme]="ts.currentTheme">
    <div class="ak-navigation">
        <div class="ak-navigation-menu">
            <button class="btn btn-accent" (click)="composeDrawer = !composeDrawer">
                <ng-icon name="mat-edit" class="text-xl"></ng-icon>
            </button>
            <div class="divider"></div>
            <div class="flex-1 flex flex-col gap-y-1">
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" title="Home">
                    <ng-icon name="mat-home" class="text-xl"></ng-icon>
                </button>
            </div>
            <div class="flex flex-col gap-1">
                <div class="divider"></div>
                <button class="btn btn-secondary">
                    <ng-icon name="mat-plus" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" routerLink="/accounts">
                    <ng-icon name="mat-manage-accounts" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" routerLink="/settings">
                    <ng-icon name="mat-settings" class="text-xl"></ng-icon>
                </button>
                <button class="btn btn-ghost" routerLink="/about">
                    <ng-icon name="mat-help" class="text-xl"></ng-icon>
                </button>
            </div>
        </div>

        <div class="ak-navigation-compose" [hidden]="!composeDrawer">
            <h1 class="text-2xl font-extrabold select-none">Compose</h1>
            <div class="divider"></div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text text-primary-content">Status</span>
                </label>
                <textarea class="textarea textarea-bordered h-24 text-base-content" placeholder="What happened?"></textarea>
                <label class="label">
                    <span class="label-text-alt"></span>
                    <span class="label-text-alt text-primary-content">500</span>
                </label>
            </div>
            <div class="flex">
                <div class="flex-1"></div>
                <button class="btn btn-sm btn-secondary">
                    Post!
                </button>
            </div>
        </div>
    </div>

    <div class="main">
        <app-main-column></app-main-column>
        <app-main-column></app-main-column>
    </div>

    <!-- Page modal -->
    <input type="checkbox" id="modal" class="modal-toggle" [ngModel]="router.url !== '/'" />
    <div class="modal">
        <button class="btn btn-secondary btn-circle absolute right-2 top-2 inset-x-auto inset-y-0 z-10" routerLink="/" tabindex="3">✕</button>

        <div class="modal-box w-11/12 max-w-5xl">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
