<div class="main-nav">
    <div class="main-nav-container">
        <p>aaa</p>
        <p>aaa</p>
        <p>aaa</p>
    </div>
</div>
<div class="main">
    <div class="main-column">
        <div class="column-header">
            <div class="image">
                <img src="https://placeimg.com/128/128/people" alt="acct">
                <ng-icon name="mat-home" class="icon"></ng-icon>
            </div>
            <div class="title-section">
                <div class="title">Home</div>
                <div class="acct">@example@example.com</div>
            </div>
            <button class="p-2">
                <ng-icon name="mat-menu" class="text-2xl pt-1"></ng-icon>
            </button>
        </div>
        <div class="scroll-auto">

        </div>
    </div>
</div>
