<div class="flex flex-col w-full md:flex-row">
    <ul class="menu w-full md:w-64 p-2 rounded-box flex overflow-x-hidden overflow-y-auto h-auto md:h-96 md:sticky md:top-0">
        <li>
            <button routerLink="add" routerLinkActive="active">
                <ng-icon name="mat-plus" class="text-xl"></ng-icon>
                Add account
            </button>
        </li>
        <li>
            <button routerLink="list" routerLinkActive="active">
                <ng-icon name="mat-account-circle" class="text-xl"></ng-icon>
                Account list
            </button>
        </li>
        <li>
            <button routerLink="app-token" routerLinkActive="active">
                <ng-icon name="mat-token" class="text-xl"></ng-icon>
                App token
            </button>
        </li>
    </ul>
    <div class="divider md:divider-horizontal"></div>
    <div class="h-96 md:h-full overflow-y-auto h-min w-full">
        <router-outlet></router-outlet>
    </div>
</div>
