<h1 class="text-3xl font-extrabold">App token</h1>
<p>This is a list of instances in which saved OAuth client IDs, etc. are stored.</p>

<div class="card card-compact bg-base-100 shadow-lg my-4 mx-2" *ngFor="let token of acs.appToken | keyvalue">
    <div class="card-body">
        <h2 class="card-title">{{ token.key }}</h2>
        <div class="card-actions justify-end">
            <button class="btn btn-sm btn-error" (click)="deleteConfirm(token.key)">
                <ng-icon name="mat-delete" class="text-xl"></ng-icon>
            </button>
        </div>
    </div>
</div>
