<div class="card card-compact bg-base-100 shadow-lg my-4 mx-2">
    <figure>
        <img src="https://placeimg.com/400/300/arch" alt="Shoes" class="object-cover h-32 w-full" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
            <button class="btn btn-sm btn-error">
                <ng-icon name="mat-delete" class="text-xl"></ng-icon>
            </button>
        </div>
    </div>
</div>
