<h1 class="text-3xl font-extrabold">Add account</h1>

<app-stepper #stepper>
    <cdk-step label="Select Type">
        <h2 class="text-xl font-bold">Select Type</h2>
        <p>Select a instance type.</p>

        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Misskey (MiAuth)</span>
                <input type="radio" value="misskey" name="type" class="radio radio-primary checked:radio-primary" [(ngModel)]="instanceType" />
            </label>
        </div>
        <div class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text">Mastodon</span>
                <input type="radio" value="mastodon" name="type" class="radio radio-primary checked:radio-primary" [(ngModel)]="instanceType" />
            </label>
        </div>

        <div class="flex flex-col justify-center items-center mt-2">
            <div class="btn-group">
                <button class="btn btn-primary" [disabled]="instanceType === undefined" cdkStepperNext>Next</button>
            </div>
        </div>
    </cdk-step>
    <cdk-step label="Instance Address" (interacted)="checkInstance()">
        <h2 class="text-xl font-bold">Instance Address</h2>
        <p>Please input a {{ instanceType | titlecase }} instance address.</p>

        <div class="form-control w-full">
            <label class="label">
                <span class="label-text">{{ instanceType | titlecase }} instance address</span>
            </label>
            <input
                    type="text"
                    placeholder="example.com"
                    class="input input-bordered mx-2"
                    [(ngModel)]="instanceAddress"
                    (keydown.control.enter)="instanceAddress.trim() !== '' ? stepper.next() : null"
                    required
                    autofocus
            />
        </div>

        <div class="flex flex-col justify-center items-center mt-2">
            <div class="btn-group">
                <button class="btn" (click)="stepper.reset()">Previous</button>
                <button class="btn btn-primary" [disabled]="instanceAddress.trim() === ''" cdkStepperNext>Next</button>
            </div>
        </div>
    </cdk-step>
    <cdk-step label="Check instance" (interacted)="startAuthentication()">
        <h2 class="text-xl font-bold">Check instance</h2>
        <p>Please check if it is the desired instance.</p>

        <div *ngIf="instanceFetchLoading" class="alert alert-info shadow-lg my-2">
            <div>
                <ng-icon name="mat-info"></ng-icon>
                <span>Fetching instance information. Wait a moment...</span>
            </div>
        </div>

        <div *ngIf="instanceFetchError" class="alert alert-error shadow-lg my-2">
            <div>
                <ng-icon name="mat-error"></ng-icon>
                <span>Could not fetch instance information.</span>
            </div>
        </div>

        <ng-container *ngIf="!instanceFetchLoading && !instanceFetchError && instanceInfo;">
            <div class="card card-compact bg-base-100 shadow-lg my-4 mx-2">
                <figure *ngIf="instanceInfo.banner">
                    <img [src]="instanceInfo.banner" [alt]="instanceInfo.banner" class="object-cover h-32 w-full" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{ instanceInfo.name }}</h2>
                    <span class="text-xs font-mono">{{ instanceAddress | lowercase }} ({{ instanceType | titlecase }} {{ instanceInfo.version }})</span>
                </div>
            </div>
        </ng-container>

        <div class="flex flex-col justify-center items-center mt-2">
            <div class="btn-group">
                <button class="btn" (click)="stepper.reset()">Start over</button>
                <button class="btn btn-primary" [disabled]="instanceFetchLoading || instanceFetchError" cdkStepperNext>Next</button>
            </div>
        </div>
    </cdk-step>

    <cdk-step label="Authenticate">
        <h2 class="text-xl font-bold">Authenticate</h2>
        <p>An authentication URL will open. Click the URL to copy it to your clipboard.</p>

        <div class="rounded-box bg-base-200 p-4 my-2 break-all" *ngIf="instanceAuthenticationURL !== ''">
            <p class="select-all font-mono" (click)="copyAuthenticationURL()">{{ instanceAuthenticationURL }}</p>
        </div>

        <div *ngIf="authorizeError" class="alert alert-error shadow-lg my-2">
            <div>
                <ng-icon name="mat-error"></ng-icon>
                <span>Could not authorized. Please try again.</span>
            </div>
        </div>

        <div class="form-control w-full" *ngIf="instanceType === 'mastodon'">
            <label class="label">
                <span class="label-text">Authorize code</span>
            </label>
            <input
                    type="text"
                    class="input input-bordered mx-2"
                    [(ngModel)]="authorizeCode"
                    required
                    autofocus
            />
        </div>

        <div class="flex flex-col justify-center items-center mt-2">
            <div class="btn-group">
                <button class="btn btn-primary" (click)="authorizeStep()" [disabled]="authorizeLoading || instanceType === 'mastodon' && authorizeCode === ''">Authenticate</button>
            </div>
        </div>
    </cdk-step>

    <cdk-step label="Complete">
        <h2 class="text-xl font-bold">Complete</h2>
        <p>Authentication complete!</p>

        <div class="flex flex-col justify-center items-center mt-2">
            <div class="btn-group">
                <button class="btn btn-secondary" (click)="resetStep()">Add another account</button>
                <button class="btn btn-primary" routerLink="/accounts/list">Go to account list</button>
            </div>
        </div>
    </cdk-step>
</app-stepper>
